<!--HOLA Mundo <%= nombre%>-->

<!--<raiz>-->
<!--    <univerdad>-->

<!--        <facultad atributo="valor"-->
<!--                   propiedad=""-->
<!--                    acreditada>-->

<!--            Sistemas-->
<!--        </facultad>-->

<!--        <facultad>Mecanica</facultad>-->
<!--        -->
<!--    </univerdad>-->

<!--    <universidad>-->
<!--        <facultad>Administracion</facultad>-->
<!--        <facultad>Finanzas</facultad>-->

<!--    </universidad>-->

<!--</raiz>-->
<!--ctrl + alt + l-->
<!DOCTYPE html><!--estoy especificando que utilizare la vr html 5-->
<html>

    <head>

        <!--Configuracions Metadatos-->
        <!--CSS-->
<!--forma 1        -->
<!--        <style>-->
<!--            body{-->
<!--                color:green;-->
<!--            }-->
<!--        </style>-->

<!--si esta en otro servidor-->
<!--        <link rel="stylesheet" -->
<!--              href="http://localhost:3001/css/estilos-generales.css">-->

        <link rel="stylesheet" href="/css/estilos-generales.css">

    </head>

    <body>
        <p>Hola <%= nombre %></p>
    <!--CONTENIDO HTML-->
    <!--SCRIPTS-->

<!--        <script>-->
<!--            console.log('Desde la Web =)')-->
<!--        </script>-->

        <script src="/js/logica-general.js">

        </script>

    </body>


</html>





















