<ul>
    <li>
        <!--        <a href="http://localhost:3001/usuario/vista/inicio">Inicio</a>-->
        <a href="/usuario/vista/inicio">Inicio</a>
    </li>

    <li>
        <a href="/usuario/vista/faq">Faq</a>
    </li>

    <li>
        <a href="/usuario/vista/login">Login</a>
    </li>

</ul>